<div class="side-menu">
    <div class="menu-header">
        <h1>Vaša mašta Vaša bašta</h1>
        <h2>Menu</h2>
    </div>
    <ul class="menu-list">
        <li class="menu-item">
            <a [routerLink]="['/dekorater-profil', korisnik]">
                <img src="../../assets/static/profil icon.jpg" alt="Profil" class="menu-icon">
                Profil
            </a>
        </li>
        <li class="menu-item">
            <a [routerLink]="['/dekorater-zakazivanja', korisnik]">
                <img src="../../assets/static/appointment icon.jpg" alt="Zakazivanje" class="menu-icon">
                Zakazivanja
            </a>
        </li>
        <li class="menu-item">
            <a [routerLink]="['/dekorater-odrzavanja', korisnik]">
                <img src="../../assets/static/maintenance icon.jpg" alt="Odrzavanje" class="menu-icon">
                Odrzavanja
            </a>
        </li>
        <li class="menu-item">
            <a [routerLink]="['/dekorater-dijagram-kolona', korisnik]">
                <img src="../../assets/static/statistic icon.jpg" alt="Statistika" class="menu-icon">
                Statistika
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/prijava">
                <img src="../../assets/static/log out icon.jpg" alt="Odjava" class="menu-icon">
                Odjava
            </a>
        </li>
    </ul>
</div>
