<div class="side-menu">
    <div class="menu-header">
        <h1>Vaša mašta Vaša bašta</h1>
        <h2>Menu</h2>
    </div>
    <ul class="menu-list">
        <li class="menu-item">
            <a routerLink="/admin">
                <img src="../../assets/static/owner icon.jpg" alt="Vlasnici" class="menu-icon">
                Vlasnici
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/admin-dekorater">
                <img src="../../assets/static/decorator icon.jpg" alt="Dekorateri" class="menu-icon">
                Dekorateri
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/admin-deaktivirani">
                <img src="../../assets/static/deactivated icon.jpg" alt="Deaktivirani" class="menu-icon">
                Deaktivirani
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/admin-firma">
                <img src="../../assets/static/company transparent icon.jpg" alt="Firme" class="menu-icon">
                Firme
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/prijava">
                <img src="../../assets/static/log out icon.jpg" alt="Odjava" class="menu-icon">
                Odjava
            </a>
        </li>
    </ul>
</div>
